 /* Global Styles */
 * {
    font-family: "Cascadia Code", Consolas, Monaco, "Andale Mono",
      "Ubuntu Mono", monospace;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  /* Todo List Container Styles */
  .container {
    background-image: linear-gradient(
      to bottom right,
      #bbf7d0,
      #dbeafe,
      #93c5fd
    );
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    max-width: 600px;
    width: 100%;
    text-align: left;
  }

  /* Header Styles */
  h1 {
    color: #333;
  }

  /* Input and Button Container Styles */
  .input-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  input {
    margin-right: 10px;
    height: 34px;
    width: 74%;
    border-radius: 3px;
    padding: 0 9px;
    border: 1px solid #fff;
    font-size: 16px;
    color: #2f4f4f;
    outline: 0;
  }

  /* Button Styles */
  .bttn {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 22px;
    transition: all 250ms;
    user-select: none;
  }

  .bttn:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }

  .bttn:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
  }
  /*Task Button Styles*/

  .task button {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 117px;
  }

  .task button:hover,
  .task button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }

  .task button:hover {
    transform: translateY(-1px);
  }

  .task button:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

  /* Task List Styles */
  #taskList {
    display: grid;
    gap: 10px;
  }

  .task {
    display: grid;
    grid-template-columns: 2fr 1fr 0fr 0fr;
    padding: 8px 12px;
    background-color: #f5f5fa;
    border-radius: 4px;
    align-items: center;
    justify-items: start;
  }

  .task span {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  .task.completed span {
    text-decoration: line-through;
    opacity: 0.7;
  }